/*Media Query max-device-width: 480px*/
@media only screen and (max-width: 480px) and (min-width: 320px) {
    /*Signup Page*/
    #banner{
        height: 650px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 42px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 25px 0px 0px 0px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright{
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 130px;
        max-height: 85px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 28px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 20px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 650px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 42px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 25px 0px 0px 0px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 140px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 440px;
        position: relative;
        margin-top: 20px;
    }
    .dp_section3_rightside>img{
        margin-top: 20px;
        position: relative;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: 20px;
    }
    .dp_section4_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 140px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container{
        display: flex;
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        max-width: 232px;
        max-height: 323px;
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
        
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}
/*Media Query max-device-width: 600px*/
@media only screen and (max-width: 600px) and (min-width: 481px) {
    /*Signup Page*/
    #banner{
        height: 650px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 42px;
    }
    .section1_rightimg
    {
        justify-content: center !important;
        max-width: 100%;
        margin: 25px 0px 0px 0px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1{
        max-width: 200px;
        max-height: 365px;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright
    {
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 130px;
        max-height: 85px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 28px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 20px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 650px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 42px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 25px 0px 0px 0px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 140px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 440px;
        position: relative;
        margin-top: 20px;
    }
    .dp_section3_rightside>img{
        margin-top: 20px;
        position: relative;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: 20px;
    }
    .dp_section4_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 140px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container{
        display: flex;
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        max-width: 232px;
        max-height: 323px;
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
        
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}
/*Media Query max-device-width: 768px*/
@media only screen and (max-width: 767px) and (min-width: 601px) {
    /*Signup Page*/
    #banner{
        height: 660px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 42px;
    }
    .section1_rightimg
    {
        justify-content: center !important;
        max-width: 100%;
        margin: 10px 0px 0px 0px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1{
        max-width: 200px;
        max-height: 365px;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright{
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 130px;
        max-height: 85px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 28px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 20px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 650px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 42px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 0px 0px 0px 0px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 140px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 480px;
        position: relative;
        margin-top: 20px;
    }
    .dp_section3_rightside>img{
        margin-top: 20px;
        position: relative;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: 20px;
    }
    .dp_section4_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 140px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container{
        display: flex;
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        max-width: 232px;
        max-height: 323px;
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}
/*Media Query max-device-width: 900px*/
@media only screen and (max-width: 900px) and (min-width: 768px) {
    /*Signup Page*/
    #banner{
        height: 450px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 39px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 600px;
        margin: 200px 0px 0px -230px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1{
        max-width: 200px;
        max-height: 365px;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright{
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 110px;
        max-height: 72px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 27px;
        line-height: 30px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 15px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 450px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 39px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 600px;
        margin: 200px 0px 0px -230px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 170px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 370px;
        position: relative;
        margin-top: 20px;
    }
    .dp_section3_rightside>img{
        margin-top: -46px;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: -5px;
    }
    .dp_section4_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 170px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container>.col-md-10{
        display: flex;
        width: 100%
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
        
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}
/*Media Query max-device-width: 1024px*/
@media only screen and (max-width: 991px) and (min-width: 901px) {
    /*Signup Page*/
    #banner{
        height: 450px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 39px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 600px;
        margin: 200px 0px 0px -230px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1,.section2_box2,.section2_box3,.section2_box4{
        max-width: 228px !important;
        max-height: 365px !important;
        /* margin: 44px 68px 0px 68px !important; */
        justify-content: center;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright{
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 110px;
        max-height: 72px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 27px;
        line-height: 30px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 16px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 450px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 39px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 600px;
        margin: 200px 0px 0px -230px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 170px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 370px;
        position: relative;
        margin-top: 20px;
    }
    .dp_section3_rightside>img{
        margin-top: -43px;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: -7px;
    }
    .dp_section4_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 170px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container>.col-md-10{
        display: flex;
        width: 100%
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        /* max-width: 232px;
        max-height: 323px; */
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}
/*Media Query max-device-width: 1200px*/
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    /*Signup Page*/
    #banner{
        height: 450px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 39px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 750px;
        margin: 135px 0px 0px -280px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 26px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1,.section2_box2,.section2_box3,.section2_box4{
        max-width: 228px !important;
        max-height: 365px !important;
        margin: 44px 68px 0px 68px !important;
        justify-content: center !important;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
         display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 26px;
    }
    .section2_lastarea_innerright
    {
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 110px;
        max-height: 72px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 27px;
        line-height: 30px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 19px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 450px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 39px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 750px;
        margin: 135px 0px 0px -280px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 170px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 450px;
        position: relative;
        margin-top: 20px;
        margin-left: 40px;
    }
    .dp_section3_rightside>img{
        margin-top: -53px;
        max-width: 400px;
    }
    .dp_section3_btn {
        background-color: #06FE00 !important;
        border-radius: 19px !important;
        border-color: #06FE00 !important;
        margin-top: 10px;
        position: relative;
    }
    .dp_section3_btn>a>img{
        max-width: 26px;
        max-height: 24px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section3_btn>a {
        font-size: 25px;
        color: #000 !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Section 4*/
    #dp_section4{
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 30px 0px !important;
        margin-top: 0px;
    }
    .dp_section4_heading>h3 {
        font-size: 41px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>p {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 167px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section4_heading>h3>img {
        width: 170px;
    }
    /*Section 5*/
    #dp_section5{
        margin-top: 16px;
        text-align: center;
    }
    #dp_section5>.container>.col-md-10{
        display: flex;
        width: 100%
    }
    .dp_section5_col1>img, .dp_section5_col2>img, .dp_section5_col3>img{
        margin-top: 20px;
    }
    .dp_section5_col1>h3, .dp_section5_col2>h3, .dp_section5_col3>h3{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section5_col1>h4, .dp_section5_col2>h4, .dp_section5_col3>h4{
        text-align: center !important;
        color: #000;
        font-size: 32px;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
    }
    .dp_section5_btn {
        background-color: #007DC4 !important;
        border-radius: 15px !important;
        border-color: #007DC4 !important;
        margin-top: 10px;
        position: relative;
        max-width: 300px;
        
    }
    .dp_section5_btn>a>img{
        max-width: 20px;
        max-height: 20px;
        margin: 0px 0px 6px 7px;
    }
    .dp_section5_btn>a {
        font-size: 21px;
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
    .dp_section5_col4>img{
        display: none;
    }
}

/*iPhone Screens*/
@media only screen and (max-width: 375px){
    /*Signup Page*/
    #banner{
        height: 575px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 34px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 24px 0px 0px 0px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 22px;
    }
    .section2_bottomheading > h3 > img {
        width: 150px;
    }
    .section2_lastarea_innerright{
        justify-content: center;
    }
    .section2_lastarea_innerleft > img, .section2_lastarea_innerright > img{
        max-width: 130px;
        max-height: 85px;
    }
    .section2_lastarea_innerleft {
        justify-content: center;
        margin-left: 0px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 24px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 15px;
        margin-left: 10px;
    }
    .section2_lastarea_left_btn > h4, .section2_lastarea_right_btn > h4 {
        max-width: 380px;
        max-height: 50px;
        justify-content: center;
        padding: 6px 10px;
        margin: 20px auto;
    }
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 575px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 34px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 24px 0px 0px 0px;
        position: relative;
    }
    /* Section 2*/
    #dp_section2{
        margin-top: 91px;
        background-color: #F5F1E6;
        max-height: 200px;
        justify-content: flex-end;
        padding: 25px 0px !important;
    }
    .dp_section2_heading>h3 {
        font-size: 31px;
        font-weight: 700;
        color: #000;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        color: #000;
        margin-left: 137px;
        font-family: 'Anonymous Pro', monospace;
        text-transform: uppercase;
    }
    .dp_section2_heading>h3>img {
        width: 140px;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 340px;
        position: relative;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 414px) {
    /*Signup Page*/
    #banner{
        height: 590px;
        }
    .mainHeading, .mainHeading2 {
        font-size: 34px;
    }
    .section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 23px 0px 0px 0px;
        position: relative;
    }
    .section2_mainheading > h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
    }
    .section2_box1::after, .section2_box2::after, .section2_box3::after {
        display: none;
    }
    .section2_bottomheading > h3 {
        font-size: 22px;
    }
    .section2_bottomheading > h3 > img {
        width: 150px;
    }
    .section2_lastarea_innerleft > h3 {
        font-size: 24px;
    }
    .section2_lastarea_innerright > h3 {
        font-size: 15px;
        margin-left: 10px;
    }
    
    .section2_lastarea_left_btn > h4 > a, .section2_lastarea_right_btn > h4 > a {
        font-size: 20px;
        font-weight: 600;
    }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 590px;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 34px;
    }
    .dp_section1_rightimg{
        justify-content: center !important;
        max-width: 100%;
        margin: 23px 0px 0px 0px;
        position: relative;
    }
    /*Section 3*/
    .dp_section3_leftside>img{
        max-width: 350px;
    }
}
@media only screen and (max-width: 390px) {
    /*Signup Page*/
    #banner{
        height: 580px !important;
        }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 580px !important;
    }
}
@media only screen and (max-width: 428px) {
    /*Signup Page*/
    #banner{
        height: 580px !important;
        }
    .mainHeading, .mainHeading2 {
        font-size: 34px;
    }
    .section2_mainheading > h3 {
        font-size: 22px !important;
        font-weight: 700;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-align: center;
      }
      .section2_bottomheading > h3 > img {
        width: 170px;
      }
      .section2_bottomheading > h3 {
        font-size: 23px;
      }
      .section2_lastarea_innerleft > h3 {
        font-size: 25px;
      }
      .section2_lastarea_innerright > h3 {
        font-size: 15px !important;
      }
    /*Download Page*/
    /* Section 1*/
    #dp_banner{
        height: 580px !important;
    }
    .dp_mainHeading, .dp_mainHeading2 {
        font-size: 34px;
    }
    .section2_mainheading > h3 {
    font-size: 20px !important;
    font-weight: 700;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
    text-align: center;
  }
  .dp_section3_leftside > img {
    max-width: 340px;
    position: relative;
    margin-top: 20px;
  }

}